@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cybercom Poland<br />
    Bydgoszcz, ul.Unii Lubelskiej 4C<br />
</address>

<address>
    <strong>Work mail:</strong>   <a href="mailto:michal.matuszewski@cybercom.com">michal.matuszewski@cybercom.com</a><br />
</address>